# Import Dependencies and data 
#### Read the data using pandas

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from sklearn import tree

# Study data files
data1 = "../Data/nhl odds 2014-15.csv"
data2 = "../Data/nhl odds 2015-16.csv"
data3 = "../Data/nhl odds 2016-17.csv"
data4 = "../Data/nhl odds 2017-18.csv"
data5 = "../Data/nhl odds 2018-19.csv"

# Read the mouse data and the study results
data1 = pd.read_csv(data1)
data2 = pd.read_csv(data2)
data3 = pd.read_csv(data3)
data4 = pd.read_csv(data4)
data5 = pd.read_csv(data5)

# Merge all the different seasons

In [2]:
#put the frames of the different seasons into a list
frames = [data1, data2, data3, data4, data5]

#stack the frames into a single set for analysis
df = pd.concat(frames)
df2 = pd.concat(frames)
away_df = df[df['VH']=='V'].reset_index()
home_df = df[df['VH']=='H'].reset_index()

# Create Point Differntial Column 

#### Use the Point Differntial Column later on for ease when needed for finding the winner

In [3]:
# Create point differential column 
p_dif = []

# Iterate through table and calculate point dif and insert into list 
for i in range(1, df.shape[0], 2):
        home_dif = df['Final'].iloc[i] - df['Final'].iloc[i-1]
        away_dif = df['Final'].iloc[i-1] - df['Final'].iloc[i]
        p_dif.append(away_dif)
        p_dif.append(home_dif)

# Add point dif column and data         
df['Point Dif'] = p_dif
df.reset_index()

,index,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,Puck Line,Unnamed: 11,Open OU,Unnamed: 13,Close OU,Unnamed: 15,Point Dif
0,0,1008,1,V,Montreal,1,1,2,4,-105,-105,1.5,-305.0,5.5,106,5.5,110,1
1,1,1008,2,H,Toronto,2,0,1,3,-115,-115,-1.5,250.0,5.5,-126,5.5,-130,-1
2,2,1008,3,V,Philadelphia,0,0,1,1,165,165,1.5,-180.0,5.5,123,5.5,115,-1
3,3,1008,4,H,Boston,1,0,1,2,-195,-185,-1.5,155.0,5.5,-143,5.5,-135,1
4,4,1008,5,V,SanJose,1,3,0,4,101,130,1.5,-240.0,5.5,127,5.0,-136,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13335,2711,606,10,H,Boston,0,0,1,1,-155,-160,-1.5,176.0,5.5,-110,5.5,-135,-1
13336,2712,609,11,V,Boston,1,0,4,5,100,105,1.5,-280.0,5.0,-110,5.0,-150,4
13337,2713,609,12,H,St.Louis,0,0,1,1,-120,-115,-1.5,230.0,5.0,-110,5.0,130,-4
13338,2714,612,13,V,St.Louis,2,0,2,4,151,155,1.5,-183.0,5.5,-110,5.0,-120,3
13339,2715,612,14,H,Boston,0,0,1,1,-175,-170,-1.5,159.0,5.5,-110,5.0,100,-3

# Create Line Movement Column

In [4]:
# Create point differential column 
line_move = []

# Iterate through table and calculate point dif and insert into list 
for i in range(len(df)):
        move = df['Open'].iloc[i] - df['Close'].iloc[i]
        line_move.append(move)

# Add point dif column and data         
df['Line Mvmt'] = line_move
df.reset_index()

,index,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,Puck Line,Unnamed: 11,Open OU,Unnamed: 13,Close OU,Unnamed: 15,Point Dif,Line Mvmt
0,0,1008,1,V,Montreal,1,1,2,4,-105,-105,1.5,-305.0,5.5,106,5.5,110,1,0
1,1,1008,2,H,Toronto,2,0,1,3,-115,-115,-1.5,250.0,5.5,-126,5.5,-130,-1,0
2,2,1008,3,V,Philadelphia,0,0,1,1,165,165,1.5,-180.0,5.5,123,5.5,115,-1,0
3,3,1008,4,H,Boston,1,0,1,2,-195,-185,-1.5,155.0,5.5,-143,5.5,-135,1,-10
4,4,1008,5,V,SanJose,1,3,0,4,101,130,1.5,-240.0,5.5,127,5.0,-136,4,-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13335,2711,606,10,H,Boston,0,0,1,1,-155,-160,-1.5,176.0,5.5,-110,5.5,-135,-1,5
13336,2712,609,11,V,Boston,1,0,4,5,100,105,1.5,-280.0,5.0,-110,5.0,-150,4,-5
13337,2713,609,12,H,St.Louis,0,0,1,1,-120,-115,-1.5,230.0,5.0,-110,5.0,130,-4,-5
13338,2714,612,13,V,St.Louis,2,0,2,4,151,155,1.5,-183.0,5.5,-110,5.0,-120,3,-4
13339,2715,612,14,H,Boston,0,0,1,1,-175,-170,-1.5,159.0,5.5,-110,5.0,100,-3,-5

#  Create Winner column for puckline and overall

In [5]:
# Create row to see who won or loss by checking the point diferential was positive or negative.
def set_win(row):
    if row['Point Dif'] > 0:
        return 1
    else:
        return 0

# Create row to see who won or loss by checking the point diferential was positive or negative.
def set_win_pl(row):
    if row['Point Dif'] >= 2:
        return 1
    elif (row['Point Dif'] >= -1) & (row['Puck Line'] == 1.5):
        return 1
    else:
        return 0

# add the result column 
df = df.assign(Win=df.apply(set_win, axis=1))
df = df.assign(Win_PL=df.apply(set_win_pl, axis=1)) 
df

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,Puck Line,Unnamed: 11,Open OU,Unnamed: 13,Close OU,Unnamed: 15,Point Dif,Line Mvmt,Win,Win_PL
0,1008,1,V,Montreal,1,1,2,4,-105,-105,1.5,-305.0,5.5,106,5.5,110,1,0,1,1
1,1008,2,H,Toronto,2,0,1,3,-115,-115,-1.5,250.0,5.5,-126,5.5,-130,-1,0,0,0
2,1008,3,V,Philadelphia,0,0,1,1,165,165,1.5,-180.0,5.5,123,5.5,115,-1,0,0,1
3,1008,4,H,Boston,1,0,1,2,-195,-185,-1.5,155.0,5.5,-143,5.5,-135,1,-10,1,0
4,1008,5,V,SanJose,1,3,0,4,101,130,1.5,-240.0,5.5,127,5.0,-136,4,-29,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2711,606,10,H,Boston,0,0,1,1,-155,-160,-1.5,176.0,5.5,-110,5.5,-135,-1,5,0,0
2712,609,11,V,Boston,1,0,4,5,100,105,1.5,-280.0,5.0,-110,5.0,-150,4,-5,1,1
2713,609,12,H,St.Louis,0,0,1,1,-120,-115,-1.5,230.0,5.0,-110,5.0,130,-4,-5,0,0
2714,612,13,V,St.Louis,2,0,2,4,151,155,1.5,-183.0,5.5,-110,5.0,-120,3,-4,1,1
2715,612,14,H,Boston,0,0,1,1,-175,-170,-1.5,159.0,5.5,-110,5.0,100,-3,-5,0,0

In [6]:
df.to_csv('calc_check.csv')

# Create Find Net goals for each team

In [7]:
goal_dict = {}
net_goals = []

for i in df.iterrows():
    #point difference
        if i[1]['Team'] in goal_dict:
            net_goals.append(goal_dict[i[1]['Team']])
            goal_dict[i[1]['Team']] = goal_dict[i[1]['Team']] + int(i[1]['Point Dif'])
        else:
            goal_dict[i[1]['Team']] = int(i[1]['Point Dif'])
            net_goals.append(0)
            
df['net_goals'] = net_goals
df

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,...,Unnamed: 11,Open OU,Unnamed: 13,Close OU,Unnamed: 15,Point Dif,Line Mvmt,Win,Win_PL,net_goals
0,1008,1,V,Montreal,1,1,2,4,-105,-105,...,-305.0,5.5,106,5.5,110,1,0,1,1,0
1,1008,2,H,Toronto,2,0,1,3,-115,-115,...,250.0,5.5,-126,5.5,-130,-1,0,0,0,0
2,1008,3,V,Philadelphia,0,0,1,1,165,165,...,-180.0,5.5,123,5.5,115,-1,0,0,1,0
3,1008,4,H,Boston,1,0,1,2,-195,-185,...,155.0,5.5,-143,5.5,-135,1,-10,1,0,0
4,1008,5,V,SanJose,1,3,0,4,101,130,...,-240.0,5.5,127,5.0,-136,4,-29,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2711,606,10,H,Boston,0,0,1,1,-155,-160,...,176.0,5.5,-110,5.5,-135,-1,5,0,0,164
2712,609,11,V,Boston,1,0,4,5,100,105,...,-280.0,5.0,-110,5.0,-150,4,-5,1,1,163
2713,609,12,H,St.Louis,0,0,1,1,-120,-115,...,230.0,5.0,-110,5.0,130,-4,-5,0,0,118
2714,612,13,V,St.Louis,2,0,2,4,151,155,...,-183.0,5.5,-110,5.0,-120,3,-4,1,1,114
2715,612,14,H,Boston,0,0,1,1,-175,-170,...,159.0,5.5,-110,5.0,100,-3,-5,0,0,167

# Cleaning Up the Dataframe

In [8]:
cols = [0,1,3,4,5,6,7,8,12,13,14,15,16]
df.drop(df.columns[cols],axis=1,inplace=True)
df

     VH  Close  Puck Line  Unnamed: 11  Line Mvmt  Win  Win_PL  net_goals
0     V   -105        1.5       -305.0          0    1       1          0
1     H   -115       -1.5        250.0          0    0       0          0
2     V    165        1.5       -180.0          0    0       1          0
3     H   -185       -1.5        155.0        -10    1       0          0
4     V    130        1.5       -240.0        -29    1       1          0
...  ..    ...        ...          ...        ...  ...     ...        ...
2711  H   -160       -1.5        176.0          5    0       0        164
2712  V    105        1.5       -280.0         -5    1       1        163
2713  H   -115       -1.5        230.0         -5    0       0        118
2714  V    155        1.5       -183.0         -4    1       1        114
2715  H   -170       -1.5        159.0         -5    0       0        167

[13340 rows x 8 columns]

In [9]:
df = df.replace({'VH': {'V': 0, 'H': 1}})
df = df.rename(columns={"VH": "Home","Close": "ML", "Unnamed: 11": "PL"})
df = df[["Home", "ML", "Puck Line", "PL", "Line Mvmt", "net_goals", "Win", "Win_PL"]]
df = df.dropna()

df

      Home   ML  Puck Line     PL  Line Mvmt  net_goals  Win  Win_PL
0        0 -105        1.5 -305.0          0          0    1       1
1        1 -115       -1.5  250.0          0          0    0       0
2        0  165        1.5 -180.0          0          0    0       1
3        1 -185       -1.5  155.0        -10          0    1       0
4        0  130        1.5 -240.0        -29          0    1       1
...    ...  ...        ...    ...        ...        ...  ...     ...
2711     1 -160       -1.5  176.0          5        164    0       0
2712     0  105        1.5 -280.0         -5        163    1       1
2713     1 -115       -1.5  230.0         -5        118    0       0
2714     0  155        1.5 -183.0         -4        114    1       1
2715     1 -170       -1.5  159.0         -5        167    0       0

[13330 rows x 8 columns]

In [10]:
df.to_csv('final_df.csv')

# Random Forest Model

In [11]:
#target = df["Win_PL"]
target = df["Win"]
target_names = ["loss", "win"]

In [12]:
data = df.drop(columns=['Win', 'Win_PL'],axis=1)
feature_names = data.columns

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [15]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

param_grid = {
    'n_estimators': [150,160,170,175,180,190],
    'criterion': ['gini','entropy']
}

grid = GridSearchCV(RandomForestClassifier(), param_grid, verbose=True, n_jobs=-1)

grid.fit(X_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   28.9s
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:   41.8s finished

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'n_estimators': [150, 160, 170, 175, 180, 190]},
             verbose=True)

In [16]:
print(grid.best_params_)

{'criterion': 'gini', 'n_estimators': 180}

In [17]:
rf = RandomForestClassifier(n_estimators=180)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.5463546354635463

In [ ]:
# sorted(zip(rf.feature_importances_, feature_names), reverse=True)

# Deep Network

In [ ]:
from tensorflow.keras.utils import to_categorical
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

deep_model = Sequential()
deep_model.add(Dense(units=18, activation='relu', input_dim=6))
deep_model.add(Dense(units=9, activation='relu'))
deep_model.add(Dense(units=2, activation='softmax'))

In [ ]:
deep_model.compile(optimizer='adam',
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

In [ ]:
deep_model.fit(
    X_train,
    y_train_categorical,
    epochs=50,
    shuffle=True,
    verbose=2
)

In [ ]:
model_loss, model_accuracy = deep_model.evaluate(
    X_test, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")