In [1]:
import pandas as pd
from keras.models import Sequential, model_from_json
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder

Using TensorFlow backend.

In [2]:
df = pd.read_csv("raw_input.csv")
cols = [0,1]
df2 = df.drop(df.columns[cols],axis=1)
df2 = df2.fillna(100)
df2

    Home   ML     PL  Line Mvmt  net_goals  season_wins
0      1 -121  187.0          2         29           38
1      0  119 -225.0         -6         12           37
2      1  139 -188.0         -1         -6           32
3      0 -143  163.0          0          8           37
4      1  103 -253.0          3          3           35
5      0 -108  212.0         -3         -1           35
6      1  174  100.0         14         -9           31
7      0 -120  100.0         -8         28           40
8      1 -111  207.0         -6         -5           36
9      0  107 -252.0          3         13           37
10     1  114 -236.0          2          9           33
11     0 -117  197.0         -4         -2           35
12     1 -140  139.0         15         53           44
13     0  111 -293.0         11         36           41
14     1  120  100.0          0         46           42
15     0  125  100.0          0         32           42
16     1  142 -188.0         -3         -7           33
17     0 -143  163.0          0         11           36
18     1  110 -239.0         -7          0           35
19     0 -111  197.0          3         11           36
20     1 -115  183.0         -3         50           43
21     0  116 -226.0         -2         25           41
22     1  115 -239.0          0          3           37
23     0 -115  195.0         -3         16           39

In [3]:
def load_model():
    # loading model
    model = model_from_json(open('PL_model_architecture.json').read())
    model.load_weights('PL_model_weights.h5')
    model.compile(loss='categorical_crossentropy', optimizer='adam')
    return model

In [4]:
# load
model = load_model()

# predictions
predictions = model.predict_classes(df2, verbose=2)
print(predictions)

[0 1 1 0 1 0 1 0 0 1 1 0 0 1 1 1 1 0 1 0 0 1 1 0]

In [5]:
p = predictions.tolist()
df['pl_outcome'] = p
cols = [1,3,5,6,7]
df.drop(df.columns[cols],axis=1,inplace=True)
df

                     Team  Home     PL  pl_outcome
0     Carolina Hurricanes     1  187.0           0
1        New York Rangers     0 -225.0           1
2      Chicago Blackhawks     1 -188.0           1
3         Edmonton Oilers     0  163.0           0
4        Florida Panthers     1 -253.0           1
5      New York Islanders     0  212.0           0
6      Montreal Canadiens     1    NaN           1
7     Pittsburgh Penguins     0    NaN           0
8          Calgary Flames     1  207.0           0
9           Winnipeg Jets     0 -252.0           1
10        Arizona Coyotes     1 -236.0           1
11    Nashville Predators     0  197.0           0
12          Boston Bruins     1  139.0           0
13    Philadelphia Flyers     0 -293.0           1
14     Colorado Avalanche     1    NaN           1
15         St Louis Blues     0    NaN           1
16  Columbus Blue Jackets     1 -188.0           1
17    Toronto Maple Leafs     0  163.0           0
18         Minnesota Wild     1 -239.0           1
19      Vancouver Canucks     0  197.0           0
20    Tampa Bay Lightning     1  183.0           0
21    Washington Capitals     0 -226.0           1
22           Dallas Stars     1 -239.0           1
23   Vegas Golden Knights     0  195.0           0

In [6]:
df.to_csv('pl_predictions.csv')